service/src/main/resources/META-INF/schema/getUsersForGroup/getGroups.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    targetNamespace="http://xmlns.oracle.com/cpqcloud/groups"
    xmlns:bmxsd="http://xmlns.oracle.com/cpqcloud/groups"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsp:Policy wsu:Id="cpq_service_policy"
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsp:Policy>
                    <sp:SupportingTokens>
                        <wsp:Policy>
                            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                <wsp:Policy>
                                    <sp:WssUsernameToken10/>
                                </wsp:Policy>
                            </sp:UsernameToken>
                        </wsp:Policy>
                    </sp:SupportingTokens>
                </wsp:Policy>
            </wsp:All>
            <wsp:All>
                <wsp:Policy>
                    <sp:SupportingTokens>
                        <wsp:Policy>
                            <sp:HttpsToken>
                                <wsp:Policy>
                                    <sp:HttpBasicAuthentication/>
                                </wsp:Policy>
                            </sp:HttpsToken>
                        </wsp:Policy>
                    </sp:SupportingTokens>
                </wsp:Policy>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://xmlns.oracle.com/cpqcloud/groups"
              xmlns:bmxsd="http://xmlns.oracle.com/cpqcloud/groups">
            <xsd:simpleType name="IntOrBlank">
                <xsd:union memberTypes="xsd:integer">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
            <xsd:simpleType name="LongOrBlank">
                <xsd:union memberTypes="xsd:long">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
            <xsd:simpleType name="FloatOrBlank">
                <xsd:union memberTypes="xsd:float">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
            <xsd:simpleType name="DoubleOrBlank">
                <xsd:union memberTypes="xsd:double">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
            <xsd:simpleType name="BooleanOrBlank">
                <xsd:union memberTypes="xsd:boolean">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
            <xsd:simpleType name="ByteOrBlank">
                <xsd:union memberTypes="xsd:byte">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
            <xsd:complexType name="anyType">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FaultType">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="exceptionCode" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="exceptionMessage" nillable="false" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="fault">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="1"
                            name="exceptionCode" nillable="false" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1"
                            name="exceptionMessage" nillable="false" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0"
                            name="exceptionDescription" nillable="true" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="UserRequestActionType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="add"/>
                    <xsd:enumeration value="remove"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="GetGroupsRequestType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="group" nillable="true" type="bmxsd:GetGroupRequestType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetGroupResponseType">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="1" name="name"
                        nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="variable_name" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="company_name" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="users" nillable="false" type="bmxsd:UsersResponseType"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="GetGroupRequestType">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="company_name" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="variable_name" nillable="false" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ModifyGroupsStatusType">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="success" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="message" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="records_read" nillable="true" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="records_failed" nillable="true" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="warnings" nillable="true" type="bmxsd:WarningsType"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ModifyGroupRequestType">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="company_name" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="variable_name" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="name"
                        nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="users" nillable="false" type="bmxsd:UsersRequestType"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="GroupUserType">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="action" nillable="false" type="bmxsd:UserRequestActionType"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="login" nillable="false" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="UsersResponseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="user" nillable="true" type="bmxsd:GroupUserType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetGroupsResponseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="group" nillable="true" type="bmxsd:GetGroupResponseType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WarningsType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="warning" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetGroupsStatusType">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="success" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="message" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="warnings" nillable="true" type="bmxsd:WarningsType"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ModifyGroupsRequestType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="group" nillable="true" type="bmxsd:ModifyGroupRequestType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UsersRequestType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="user" nillable="true" type="bmxsd:GroupUserType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="modifyGroups">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="groups" type="bmxsd:ModifyGroupsRequestType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="modifyGroupsResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="1"
                            name="status" nillable="false" type="bmxsd:ModifyGroupsStatusType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGroups">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="groups" type="bmxsd:GetGroupsRequestType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getGroupsResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="1"
                            name="status" nillable="false" type="bmxsd:GetGroupsStatusType"/>
                        <xsd:element maxOccurs="1" minOccurs="1"
                            name="groups" nillable="false" type="bmxsd:GetGroupsResponseType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="modifyGroupsRequest">
        <wsdl:part element="bmxsd:modifyGroups" name="modifyGroups"/>
    </wsdl:message>
    <wsdl:message name="modifyGroupsResponse">
        <wsdl:part element="bmxsd:modifyGroupsResponse" name="modifyGroupsResponse"/>
    </wsdl:message>
    <wsdl:message name="BusinessLogicException">
        <wsdl:part element="bmxsd:fault" name="fault"/>
    </wsdl:message>
    <wsdl:message name="getGroupsRequest">
        <wsdl:part element="bmxsd:getGroups" name="getGroups"/>
    </wsdl:message>
    <wsdl:message name="getGroupsResponse">
        <wsdl:part element="bmxsd:getGroupsResponse" name="getGroupsResponse"/>
    </wsdl:message>
    <wsdl:portType name="GroupsServicePortType">
        <wsdl:operation name="modifyGroups">
            <wsdl:input message="bmxsd:modifyGroupsRequest"/>
            <wsdl:output message="bmxsd:modifyGroupsResponse"/>
            <wsdl:fault message="bmxsd:BusinessLogicException" name="BusinessLogicException"/>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <wsdl:input message="bmxsd:getGroupsRequest"/>
            <wsdl:output message="bmxsd:getGroupsResponse"/>
            <wsdl:fault message="bmxsd:BusinessLogicException" name="BusinessLogicException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GroupsServiceBinding" type="bmxsd:GroupsServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="modifyGroups">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BusinessLogicException">
                <soap:fault name="BusinessLogicException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BusinessLogicException">
                <soap:fault name="BusinessLogicException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GroupsService">
        <wsdl:port binding="bmxsd:GroupsServiceBinding" name="GroupsServicePort">
            <wsp:PolicyReference URI="#cpq_service_policy" xmlns:wsp="http://www.w3.org/ns/ws-policy"/>
            <soap:address location="https://myprice.att.com/v2_0/receiver/groups"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

