service/src/main/resources/META-INF/schema/ABS_Billing_Information_V0.3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	targetNamespace="http://dwweb.ims.att.com/billingcharges/v1"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ch="http://cio.att.com/commonheader/v3"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://dwweb.ims.att.com/billingcharges/v1">
	<types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://dwweb.ims.att.com/billingcharges/v1"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://cio.att.com/commonheader/v3"
				schemaLocation="CommonHeaderV3_3.xsd" />

			<xsd:element name="getBillingChargesInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1"
							ref="ch:WSHeader" />
						<xsd:element maxOccurs="1" minOccurs="1"
							name="requestType" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1"
							name="keyFieldID" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1"
							name="billDate" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="refNB"
							type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="mcnNB"
							type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="svID"
							type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1"
							name="l3AcctNB" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="portNB"
							type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1"
							name="circuitNB" type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1"
							name="parntAcctNB" type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1"
							name="subAcctNB" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1"
							name="routerNB" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


			<xsd:element name="getBillingChargesInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1"
							ref="ch:WSResponseHeader" />
						<xsd:element maxOccurs="1" minOccurs="1"
							name="BillingChargesData" type="tns:BillingChargesData" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="BillingChargesData">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1"
						name="BillingChargesEntity" type="tns:BillingChargesEntity" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BillingChargesEntity">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="refNb"
						type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="responseCode" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="message"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</types>

	<message name="WSException">
		<part element="ch:WSException" name="WSException" />
	</message>


	<message name="getBillingChargesInfoRequest">
		<part element="tns:getBillingChargesInfoRequest"
			name="getBillingChargesInfoRequest" />
	</message>

	<message name="getBillingChargesInfoResponse">
		<part element="tns:getBillingChargesInfoResponse"
			name="getBillingChargesInfoResponse" />
	</message>

	<portType name="ABSDWUBDataProviderPortType">

		<operation name="getBillingChargesInfo">
			<input message="tns:getBillingChargesInfoRequest" />
			<output message="tns:getBillingChargesInfoResponse" />
			<fault message="tns:WSException" name="WSException" />
		</operation>


	</portType>

	<binding name="ABSDWUBDataProviderSoapHttpBinding"
		type="tns:ABSDWUBDataProviderPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<operation name="getBillingChargesInfo">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="WSException">
				<soap:fault name="WSException" use="literal" />
			</fault>
		</operation>

	</binding>


	<service name="ABSDWBillingChargesService">
		<port binding="tns:ABSDWUBDataProviderSoapHttpBinding"
			name="ABSDWUBDataProviderSoapHttpPort">
			<soap:address
				location="http://localhost:9080/WebSvc/ABSDWBillingChargesService" />
		</port>
	</service>

</definitions>